*{
    margin: 5px;
    padding: 5px;
    background-color: rgb(18, 3, 3);
}
html{
    color: white;
}
.images{
    
    float: left;
}
.images p{
    text-align: center;
    font-size: 2rem;
}
.images .one{
    width: 174px;
    padding-left: 5px;
    height: 250px;
    
}
h1{
    text-align: center;
}
.add, 
.add1{
    text-align: center;
}
.obj li{
    list-style-type: none;
}